
.restaurantWrapper {
  max-width: 1080px;
  margin: var(--nav-height) auto 0 auto;
  padding: 40px;
}

.menu {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox for better alignment and distribution */
  flex-wrap: wrap; /* Allow wrapping for multiple items */
  gap: 20px; /* Space between each menu item/card */
  justify-content: center; /* Center the cards in the menu container */
}

.tastyPicks{
  border-radius: 10px;
}

.tastyPicksCounter {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}
